{% extends "layout.html" %}
{% block content %}
    <script>
        var locations = [
            {% for post in posts%}
            [`<h5>{{post.title}}</h5><hr><p>{{post.content | truncate(50, True)}}</p>`, {{post.loc.coordinates.1}},{{post.loc.coordinates.0}}, {{loop.index}} ],
            {% endfor %}
        ];
    </script>
    <script src="{{ url_for('static', filename='js/map-posts.js') }}"></script>
    <div id="map"></div>

    {% for post in posts %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.user_id.image_file) }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{ url_for('users.user_posts', username=post.user_id.username) }}">{{ post.user_id.username }}</a>
              <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %}
    
    <script async src="https://maps.googleapis.com/maps/api/js?key={{map_key}}&callback=initMap"></script>
{% endblock content %}